// Colour animations are inspired from https://github.com/sarahfossheim/fossheim-io/

@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$font: 'Open Sans', sans-serif;
$serifFont: 'Cardo', serif;

// Colours
$backgroundColour: #FFF5DC;
$primaryTextColour: #2F1728;
$primaryTextColourHover: orange;


* {
    margin: 0;
    padding: 0;
}

// styles for selection area.
::selection {
    background-color: orange;
    color: black;
}

html, body {
    background-color: $backgroundColour;
    overflow-x: hidden;
    font-family: $font;
    font-size: 22px;
    color: $primaryTextColour;
}

@media only screen and (max-width: 666px) {
    html, body {
        font-size: 18px;
    }
}

.bg-container {
    width: 80vw;
    min-width: 80vw;
    margin: 0 auto;
}

.container {
    width: 80vw;
    max-width: 850px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}


/* ================================================ */
/* ================== KEYFRAMES =================== */
/* ================================================ */
@keyframes link-animation {
    0% {
        background-size: 700%;
        background-position: 150% 0;
    }
    100% {
        background-size: 100%;
        background-position: 0 0;
    }
}


/* ================================================ */
/* =================== HEADER ===================== */
/* ================================================ */
header {
    background-color: $backgroundColour;
    height: 80px;
    width: 100%;
    padding-top: 30px;
    position: fixed;
    top: 0px;
    z-index: 10;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        .logo {
            a {
                font-weight: 600;
                font-size: 1.3rem;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $primaryTextColour;
                display: block;
                line-height: 1.15em;
            }
        }

        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    color: $primaryTextColour;
                    font-size: 0.85rem;
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a:hover {
                    position: relative;
                    animation: hover-animation 1s forwards ease;
                }

                a:hover:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-image: linear-gradient(
                        45deg,
                        black 50%, 
                        orange 50% 
                    );
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: 100% 0;
                    position: absolute;
                    bottom: -0.25em; 
                    right: 0;
                    animation: link-animation 1s ease-out forwards;
                }
            }
        }
    }
}



/* ================================================ */
/* ===================== MAIN ===================== */
/* ================================================ */
.main {
    margin-top: 350px;
    margin-bottom: 4em;

    h1, p {
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 666px) {
        h1 {
            font-size: 1.35rem;
        }
    }

    p {
        line-height: 1.8rem;

        a {
            text-decoration: none;
            transition: 0.25s;
            color: $primaryTextColour;
            border-bottom: 1px solid $primaryTextColour;
        }

        a:hover {
            color: $primaryTextColourHover;
            border-color: $primaryTextColourHover;
        }
    }
}




/* ================================================ */
/* ==================== FOOTER ==================== */
/* ================================================ */
footer {
    display: block;
    font-size: 0.75rem;
    overflow: hidden;
    padding-bottom: 3rem;
    .bg-container {
        border-top: #d8d8d8 1px solid;
        padding-top: 4rem;
        div:first-child {
            width: 25%;
        }

        div:nth-child(2) {
            width: 25%;
            text-align: right;
            float: right;
        }
        div:last-child {
            margin: 0 auto;
            float: none;
            width: 25%;
            padding-top: 0.80rem;
            text-align: center;
        }

        div {
            float: left;

            p {
                a {
                    text-decoration: none;
                    transition: 0.25s;
                    color: $primaryTextColour;
                    border-bottom: 1px solid $primaryTextColour;
                }
        
                a:hover {
                    color: $primaryTextColourHover;
                    border-color: $primaryTextColourHover;
                }

                span {
                    font-size: 0.90em;
                }
            }
        }

        @media only screen and (max-width: 666px) {
            div:first-child {
                width: 80%;
            }

            div:nth-child(2) {
                margin-top: 20px;
                width: 80%;
                text-align: left;
                float: left;
            }

            div:last-child {
                float: left;
                text-align: left;
                width: 80%;
                margin-top: 20px;
            }
        }
    }
}


/* ================================================ */
/* ================== BIG EMAIL =================== */
/* ================================================ */
#bigEmail-container {
    font-weight: 600;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 200px;
    left: -90px;

    a {
        text-decoration: none;
        transition: 0.25s;
        color: $primaryTextColour;
        border-bottom: 1px solid $primaryTextColour;
    }

    a:hover {
        color: $primaryTextColourHover;
        border-color: $primaryTextColourHover;
    }
}

@media only screen and (max-width: 666px) {
    #bigEmail-container {
        display: none;
    }
}

