$backgroundColour: #1a1a1a;
$primaryTextColour: #e7e7e7;
$primaryTextColourHover: orange;

.dark-mode {
  fill: white !important;
}

.light-mode {
  color: white;
}

body.dark,
body.dark html {
  background-color: $backgroundColour;
  color: $primaryTextColour;
}

body.dark {

  .icon {
    border: none;

    svg {
      fill: $primaryTextColour !important;
    }
  }

  .icon:hover {
    svg {
      fill: $primaryTextColourHover !important;
    }
  }

  code {
    word-break: break-all;
    background-color: darkslategray;
    padding: 1.5px;
    border: 1px solid darkslategray;
    border-radius: 5px;
  }

  a {
    color: $primaryTextColour;
    border-bottom: 1px solid $primaryTextColour;
  }

  @media not all and (pointer: coarse) {
    a:hover {
      color: $primaryTextColourHover;
      border-color: $primaryTextColourHover;
    }
  }

  header {
    background-color: transparent;
    .inner-header {
      .logo {
        a {
          color: $primaryTextColour;
        }
      }

      .navigation {
        nav {
          a {
            color: $primaryTextColour;
          }
        }
      }
    }
  }

  .main {
    p {
      a {
        opacity: 0.8;
        color: $primaryTextColour;
        border-bottom: 1px solid $primaryTextColour;
      }

      a:hover {
        color: $primaryTextColourHover;
        border-color: $primaryTextColourHover;
      }
    }
  }

  footer {
    .bg-container {
      border-top: $primaryTextColour 1px solid;
      div {
        p {
          a {
            color: $primaryTextColour;
            opacity: 0.8;
            border-bottom: 1px solid $primaryTextColour;
          }

          a:hover {
            opacity: 1;
            color: $primaryTextColourHover;
            border-color: $primaryTextColourHover;
          }
        }
      }
    }
  }
}
