// Light
$systemBackground: #ffffff;
$systemGray6: #f2f2f7;
$label: #000000;
$secondaryLabel: #8e8e93;

.content-wrapper {
    margin-top: 5em;
    max-width: 500px;
    width: 70vw;

    h1 {
        margin-bottom: 1em;
    }

    p, a {
        color: #303030;
    }
}


@media only screen and (max-width: 666px) {
    h1 {
        font-size: 1.5em  !important;
    }
}
