// Light
$systemBackground: #ffffff;
$systemGray6: #f2f2f7;
$label: #000000;
$secondaryLabel: #8e8e93;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.main {
    background-color: $systemBackground;
    min-height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    font-weight: 600;
    background-color: #f2f2f7;
    padding: 5px 15px;
    border-radius: 5px;
}

p {
    line-height: 1.5;
}
