$fontSerif: "Playfair Display", serif;

/* ================================================ */
/* =================== BIG NAME =================== */
/* ================================================ */
.big-name {
    font-size: 4.8em;
    font-weight: 400;
    line-height: unset !important;
    pointer-events: none;
    font-family: $fontSerif !important;
  }
  
  @media only screen and (max-width: 666px) {
    .big-name {
      font-size: 4.5em;
    }
  }
  
  @media only screen and (max-width: 444px) {
    .big-name {
      font-size: 3.8em;
    }
  }
  
  @media only screen and (max-width: 333px) {
    .big-name {
      font-size: 3em;
    }
  }