nav {
    width: 70vw;
    margin: 0 auto;
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    ul {
        float: right;
    }

    li {
        display: inline-block;
        margin: 0px 36px;
    }
}

@media only screen and (max-width: 666px) {
    header {
        margin-top: 2em;
    }

    nav {
        display: inline;
        text-align: center;

        ul {
            margin-left: 0;
            float: unset;
            margin-top: 2rem;
        }
    }
}
