nav {
    width: 70vw;
    margin: 0 auto;
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    .site-details {
        h1 {
            font-weight: 600;
            a {
                color: #2c2c2c;
                text-decoration: none;
            }
        }
    }

    ul {
        float: right;
    }

    li {
        display: inline-block;
        margin: 0px 36px;
        font-size: 0.9em;

        a {
            color: #2c2c2c;
            padding: 5px 15px;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 666px) {
    header {
        margin-top: 2em;
    }

    nav {
        display: inline;
        text-align: center;

        ul {
            margin-top: 1em;
            margin-left: 0;
            float: unset;
        }
    }
}
