/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

html {
    line-height: 1.8;
    font-size: 15px;
    background-color: black;
}

.p-spacing p {
    margin-bottom: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-medium;
}

h1 {
    @apply text-xl font-semibold;
}

h2 {
    @apply text-lg;
}

a {
    @apply text-blue-300;
}

a:hover {
    @apply border-b border-gray-600;
}
