/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

.font {
    font-family: 'Playfair Display', serif;
}

html {
    line-height: 1.8;
    font-size: 15px;
}

.p-spacing p {
    margin-bottom: 1rem;
}

* {
    color: #404040;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-medium;
}

h1 {
    @apply text-xl font-semibold;
}

h2 {
    @apply text-lg;
}

a {
    @apply text-gray-600;
}

a:hover {
    @apply border-b border-gray-600;
}
