
footer {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2em;
    font-size: 0.8em;
    margin-top: 10em;
    bottom: 0;
    align-items: center;

    .footerLink {
        a {
            margin-left: 2rem;
        }
    }

    .footerLink > :first-child {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        text-align: center;
        p {
            margin-top: 1em;
        }
    }
}
