.blog-wrapper {
  background-color: #eaddcf;
  margin-bottom: 1.1em;
  padding: 1.5em;
  border-radius: 0.5rem;

  h1 {
    margin-bottom: 1.1rem;
  }

  h5 {
    text-transform: uppercase;
    opacity: 0.6;
  }
}

.tags-wrapper {
    p {
        opacity: 0.8;
        font-size: 0.7em;
        text-transform: uppercase;
        span {
            margin-right: 1em;
            font-weight: 600;
        }
    }
}

.icon {
  border: none;

  svg {
    transition: 0.25s;
    -webkit-transition: 0.25s;
  }
}

.content-wrapper {
  margin-top: 2em;
}