.blog-wrapper {
  margin-bottom: 1.1em;
  padding: 1.5em 0;
  h1 {
    margin-bottom: 1.1rem;
  }

  h5 {
    text-transform: uppercase;
    opacity: 0.7;
  }
}

.tags-wrapper {
    p {
        opacity: 0.7;
        font-size: 0.7em;
        text-transform: uppercase;
        span {
            margin-right: 1em;
            font-weight: 600;
        }
    }
}

.icon {
  border: none;

  svg {
    transition: 0.25s;
    -webkit-transition: 0.25s;
  }
}

.content-wrapper {
  margin-top: 2em;
}

body.light {
  .blog-wrapper {
    background-color: #f4f4f4;
  }
}

body.dark {
  .blog-wrapper {
    background-color: black;
  }
}