.experience-wrapper {
  margin-bottom: 1.1em;
  padding: 1.5em 0;
  h1 {
    margin-bottom: 1.1rem;
  }

  h5 {
    text-transform: uppercase;
    opacity: 0.7;

    span {
      margin-left: 1em;
      text-transform: none;
    }

    span::before {
      content: "|";
      position: relative;
      right: 0.5em;
      opacity: 0.5;
    }
  }
}

// body.light {
//   .experience-wrapper {
//     background-color: #f4f4f4;
//   }
// }

// body.dark {
//   .experience-wrapper {
//     background-color: black;
//   }
// }
